<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	
	<display-name>zeus</display-name>
	
	<!-- Indica ao Servidor de aplicação o escopo do projeto web. Este parâmetro é equivalente ao facelets.DEVELOPMENT do jsf 1.2 e mais indicado 
	para habilitar o debug do facelets no jsf 2.0 além de evitar conflitos com o fecelts do Rich Faces com os facelets do mojarra e weld.
	Se o parâmetro for developement habilita um pool de conexões http para transferencias de xml, css, imagens, html, etc. 
	Se for production reduz a quantidade de requests http melhorando o desempenho -->
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Production</param-value>
	</context-param>
 	
	<!-- Empacota todos os js e os css em dois arquivos unicos -->
	<context-param>
		<param-name>org.richfaces.resourceOptimization.enabled</param-name>
		<param-value>true</param-value>
	</context-param>
	
	<!-- Determina o tempo que os arquivos web ficarão em cash no cliente, neste caso o tempo máximo é 24 horas -->
	<context-param>
		<param-name>org.ajax4jsf.DEFAULT_EXPIRE</param-name>
		<param-value>86400</param-value>
	</context-param>
	
	<!-- Indica ao servidor se a arvore de componentes do JSF deve ser guardada no cliente ou no servidor. -->
	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>
	
	<!-- Indica ao servidor que o javascript dos componentes devem ser cacheados no cliente -->
	<context-param>
		<param-name>com.sun.faces.externalizeJavaScript</param-name>
		<param-value>true</param-value>
	</context-param>
	
	<context-param>
		<param-name>javax.faces.CONFIG_FILES</param-name>
		<param-value>/WEB-INF/faces-navigation.xml, /WEB-INF/faces-beans.xml</param-value>
	</context-param>
	
	<context-param>
		<param-name>com.sun.faces.verifyObjects</param-name>
		<param-value>false</param-value>
	</context-param>
	
	<context-param>
		<param-name>com.sun.faces.validateXml</param-name>
		<param-value>true</param-value>
	</context-param>
	
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>
	
	<context-param>
		<param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>
	
	<context-param>
		<param-name>org.richfaces.skin</param-name>
		<param-value>DEFAULT</param-value>
	</context-param>
	
	<context-param>
		<param-name>org.richfaces.enableControlSkinning</param-name>
		<param-value>false</param-value>
	</context-param>
	
	<context-param>
		<param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
		<param-value>true</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	
	<mime-mapping>
		<extension>ecss</extension>
		<mime-type>text/css</mime-type>
	</mime-mapping>
	
	<welcome-file-list>
		<welcome-file>/home.xhtml</welcome-file>
	</welcome-file-list>
	
	<error-page>
		<error-code>404</error-code>
		<location>/home.xhtml</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/home.xhtml</location>
	</error-page>
	<error-page>
		<exception-type>javax.faces.application.ViewExpiredException</exception-type>
		<location>/home.xhtml</location>
	</error-page>
</web-app>